<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619330542310-72i0q6ft9js066755l74uhd8us9o0l26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619330542310-72i0q6ft9js066755l74uhd8us9o0l26</string>
	<key>API_KEY</key>
	<string>AIzaSyCCNIblMKe-5DfZSX-U_Tmgy3g1Qd8N9_M</string>
	<key>GCM_SENDER_ID</key>
	<string>619330542310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.uihrsw0228.MyBooks</string>
	<key>PROJECT_ID</key>
	<string>mybook-934f4</string>
	<key>STORAGE_BUCKET</key>
	<string>mybook-934f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619330542310:ios:c52549cb31806afeb83927</string>
</dict>
</plist>